@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 24 24 27;
  }
 
  .dark {
    --background: 9 9 11;
    --foreground: 244 244 245;
  }

  body {
    @apply bg-white text-zinc-950 dark:bg-zinc-950 dark:text-zinc-100 transition-colors duration-300;
  }
}
